.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 54px;
    color: white;
    position: relative;
    background-color: black;
}


.navbar {
    font-size: 16px;
    text-transform: initial;
    background-color: black !important;
}

.nav-link {
    color: #fff;
}



.container-fluid a:hover {
    color: #18d26e;
    cursor: pointer;
}


@media only screen and (min-width:992px) {
    .collapse {
        float: right;
        flex: unset;
    }
}

.home {
    background-image: url('../images/profile.jpg');
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width:640px) {
    .home {
        background-size: cover;
        background-attachment: initial;
    }

}


.home .titles {
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: absolute;
    padding: 0 80px;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.home .titles-wrap {
    color: white;
    width: 100%;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.7;
    padding-top: 100px;
}



.home h1 {

    display: block;
    font-size: 50px;
    line-height: 1.7;
    margin-top: 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;

}

.home h2 span {
    color: white;
}

.home h2 {
    text-align: left;
}

.social-links {
    color: white;
}

.about,
.education,
.experience,
.skills,
.interests {
    bottom: 100px;
    background-color: black;
    color: white;
}

.section-heading {
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
    padding-top: 90px;

}

.about-txt,
h4 {
    text-transform: uppercase;
    color: #858685;
}

.img-fluid {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
}

h2 {
    color: #18d26e;

}

.social-links .fa {
    color: #fff;
    margin-left: 10px;
    position: relative;
}


/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/

.education {
    padding-top: 90px;
    padding-bottom: 45px;
}

.education-item {

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
}

.education-item .btn{
    min-height: 10rem;
}

.heading{
    color: #E1E1E1 !important;
}


/*--------------------------------------------------------------
# Experience
--------------------------------------------------------------*/

.experience {
    padding-top: 55px;
    padding-bottom: 45px;
}

.card{
    border: 2px dotted #18d26e;
    background-color: black;
    margin-top: 20px;
    min-height: 32rem;
    
}


/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills {
    padding-top: 60px;
    padding-bottom: 45px;
}

.skills-part {
    padding-top: 40px;
    padding-bottom: 70px;
}

.progressBar {
    margin-bottom: 26px;
    margin-bottom: 1.66em;
    position: relative;

}

.progressBar h4 {
    font-size: 16px;
    text-transform: none;
    margin-bottom: 7px;
    margin-bottom: .33em;
    color: #18d26e;
}

.progressBarcontainer {
    width: 100%;
    height: 10px;
    background: #E1E1E1 !important;
    overflow: hidden;
    border-radius: 0.3em;
}

.progressBarValue {
    height: 10px;
    float: left;
    border-radius: 0.3em;
    background: #e55d87;
    background: -moz-linear-gradient(-45deg, #e55d87 0%, #18d26e 100%);
    background: -webkit-linear-gradient(-45deg, #e55d87 0%, #18d26e 100%);
    background: linear-gradient(135deg, #e55d87 0%, #18d26e 100%);
}

.speech-bubble {
    font-size: 0.75em;
    line-height: 2em;
    position: absolute;
    top: -0.60em;
    text-align: center;
    min-width: 3em;
    border-radius: 0.3em;
    color: white;
    display: none;
}

.speech-bubble:after {
    border: 0.5em solid transparent;
    content: "";
    margin-left: -0.5em;
    position: absolute;
    bottom: -50%;
    left: 50%;
}

.html {
    left: calc(100% - 1.5em);
}

.css {
    left: calc(95% - 1.5em);
}

.javascript {
    left: calc(85% - 1.5em);
}


.jquery {
    left: calc(80% - 1.5em);
}

.photoshop {
    left: calc(90% - 1.5em);
}

.illustrartor {
    left: calc(85% - 1.5em);
}

.creativity {
    left: calc(90% - 1.5em);
}

.communication {
    left: calc(97% - 1.5em);
}

.html,
.css,
.javascript,
.jquery,
.photoshop,
.illustrartor,
.creativity,
.communication {
    background: #e55d87;
}

.html:after {
    border-top-color: #e55d87;
}

.css:after {
    border-top-color: #e55d87;
}

.javascript:after {
    border-top-color: #e55d87;
}

.react:after {
    border-top-color: #e55d87;
}

.jquery:after {
    border-top-color: #e55d87;
}

.photoshop:after {
    border-top-color: #e55d87;
}

.illustrartor:after {
    border-top-color: #e55d87;
}

.creativity:after {
    border-top-color: #e55d87;
}

.communication:after {
    border-top-color: #e55d87;
}


/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/

.carousel-item .d-block {
    opacity: 0.3;
}


.interests {
    padding-top: 70px;
    padding-bottom: 200px;
}


/*--------------------------------------------------------------
# Footer-scroll
--------------------------------------------------------------*/


#myBtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: #18d26e;
    border: 1px solid #18d26e;
    border-radius: 50%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 2;
}


#myBtn:hover {
    background-color: #fff;
    color: #18d26e;
}

/*--------------------------------------------------------------
# Education pages
--------------------------------------------------------------*/

.second-page{
    text-transform: uppercase;
   
}

.gbc {
    background-image: url('../images/gbc.jpg');    
}

.ptu {
    background-image: url('../images/ptu.jpg');
}

.img{
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    overflow: hidden;
    
}

